body {
  background: url('https://upload.wikimedia.org/wikipedia/commons/a/a7/Wikipedia_logo_v3.svg') no-repeat fixed, white;
  background-size: 40%;
  background-position: center 80%;
}

header {
  letter-spacing: 3px;
}

section {
  margin-top: 6vh;
}

section a p {
  overflow: auto;
}

form {
  margin-bottom: 6vh;
}

.well {
  background: rgba(256, 256, 256, 0.8);
}
.well:hover {
  border: solid 1px;
}

hr {
  border-top: solid 1px #337AB7;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-shadow: 0 0 4px whitesmoke;
  background: rgba(256, 256, 256, 0.8);
}

a:hover {
  text-decoration: none;
}